@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.RatingBox {
  display: flex;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  justify-content: space-around;
  width: 30%;
  height: 400px;
  padding: 4%;
  background-color: white;
  box-shadow: 10px 10px 0 3px #236E8C;
  transition: all 0.2s ease-out;
}

.RatingBox:hover {
  box-shadow: 10px 10px 0 3px #f28a3a;
  transition: all 0.4s ease;
}

.StarBox {
  margin-top: -10px;
  display: flex;
  justify-content: center;
}

.TopHeading{
  font-weight:bold;
  font-size:2.5em;
  color: #236e8c;
}
.SubHeading {
  font-weight: 300;
  font-size: 1.5em;
  color: #236e8c;
}

a {
  font-weight: normal;
  padding: 10px 30px;
  font-size: 1.5em;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: #236e8c;
}

a:hover{
  box-shadow: inset 0 0 0 30px #f28a3a;
  transition: all 0.4s ease;
  color: white;
  font-weight: bold;
}

/* Responsive Design */

@media only screen and (max-width: 3000px) {
  .RatingBox {
    width: 50%;
  }
}

@media only screen and (max-width: 900px) {
  .RatingBox {
    width: 65%;
  }
}
@media only screen and (max-width: 768px) {
  .RatingBox {
    width: 70%;
  }
}
@media only screen and (max-width: 500px) {
  .RatingBox {
    width: 75%;
  }
}
@media only screen and (max-width: 375px) {
  .RatingBox{
    width: 80%;
  }
}